---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;

---
<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>
      <p>My name is {identity.firstName} and I am from {identity.country}. I am a {identity.occupation} and my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</p>
    <p>My Skills are {skills.map(skill => <p>{skill}</p>)}</p>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
