---
import BaseLayout from '../layouts/BaseLayout.astro';
import data from '../data/data.json';

const today = new Date();
const endDate = '2025-06-01';
// const daysLeft = Math.ceil((endDate.getTime() - today.getTime()) / (1000 * 60 * 60 * 24));
const penalytSum = data.reduce((sum, obj) => sum + obj.strafe, 0);
const diffDays = Math.ceil((new Date(endDate).getTime() - today.getTime()) / (1000 * 60 * 60 * 24));

// Sort in ascending order - by suff property
const sortedPlayerAsc = data.sort((a, b) => b.suff - a.suff );
const pageTitle = 'Abstinenz Ranking';

// explain how to get the icon
const getIcon = (index, totalPlayers) => {
    if (index === totalPlayers - 1) { // Handle last place separately
        return '😭';
    }
    switch (index) {
        case 0:
            return '🥇';
        case 1:
            return '🥈';
        case 2:
            return '🥉';
        default:
            return '';
    }
};


---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
      <div class="content">
          <div class="header">
              <div class="trophy">🏆</div>
              <h2 class="title">Abstinenz Ranking</h2>
          </div>
          <div style="text-align: center;">
              <h2 style="text-align: center;">Noch {diffDays} Tage!</h2>
              <h3>Gemeinschaftskasse: {penalytSum} EUR</h3>
            </div>
          <div class="card">
              <table>
                  <thead>
                      <tr>
                          <th style="width: 96px;"></th>
                          <th>Name</th>
                          <th>x Suff</th>
                          <th>Joker</th>
                          <th style="text-align: center;">Strafkonto</th>
                      </tr>
                  </thead>
                  <tbody>
                    {sortedPlayerAsc.map((player, index) => (
                        <tr>
                            {<td style="width: 96px;"><p>{getIcon(index, sortedPlayerAsc.length)}</p></td>}
                            <td><p>{player.name}</p></td>
                            <td><p>{player.suff}</p></td>
                            <td><p>{player.joker}</p></td>
                            <td style="text-align: center;"><p>{player.strafe} EUR</p></td>
                        </tr>
                        ))}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</BaseLayout>
<script>
     // Parse the target date from the string provided in the Astro frontmatter
      const endDate = new Date("{endDate}");

      // Function to calculate the number of days left
      function updateCounter() {
        const today = new Date();
        const diffTime = endDate.getTime() - today.getTime();
        // Calculate the difference in days, rounding up to account for partial days
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        // document.getElementById("counter").textContent = diffDays;
      }

      // Call the function immediately when the page loads
      updateCounter();

      // Optionally, update the counter periodically (every minute, in this example)
      // This is useful if a visitor keeps the page open and you want the counter to refresh.
      setInterval(updateCounter, 60000); // 60000ms = 1 minute
</script>