---
import BaseLayout from '../layouts/BaseLayout.astro';
// import Penalty from '../components/Penalty.astro';
import data from '../data/data.json';

const today = new Date();
const endDate = new Date('2025-06-06');
const daysLeft = Math.ceil((endDate.getTime() - today.getTime()) / (1000 * 60 * 60 * 24));

---

<BaseLayout>
  <div class="container">
      <div class="content">
          <div class="header">
              <div class="trophy">🏆</div>
              <h2 class="title">Abstinenz Leaderboard</h2>
          </div>
          <h2 style="text-align: center;">Noch {daysLeft} Tage!</h2>
          <div class="card">
              <table>
                  <thead>
                      <tr>
                          <th style="width: 96px;">Platz</th>
                          <th>Name</th>
                          <th>x Suff</th>
                          <th>Joker</th>
                          <th>Strafkonto</th>
                      </tr>
                  </thead>
                  <tbody>
                    {data.map(player => (
                        <tr>
                            <td><p>{`Platz ` + player.platz}</p></td>
                            <td><p>{player.name}</p></td>
                            <td><p>{player.suff}</p></td>
                            <td><p>{player.joker}</p></td>
                            <td><p>{player.strafe}EUR</p></td>
                        </tr>
                        ))}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</BaseLayout>